
<aside class="main-sidebar sidebar-dark-primary menu elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/StylesPlantilla/imgs/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light" style="color:orange">Sena</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 599px;"></div><div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/StylesPlantilla/imgs/user.png" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Usuarios.</a>
                        </div>
                    </div>
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-basket iconos"></i>
                                    <p class="text-white">
                                        Usuarios.
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Roles" asp-action="Roles" class="nav-link">
                                            <i class="fas fa-circle  ml-2"></i>
                                            <p class="text-white">Roles.</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Usuarios" asp-action="Usuarios" class="nav-link">
                                            <i class="fas fa-circle  ml-2"></i>
                                            <p class="text-white">Usuarios.</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a asp-controller="Personal" asp-action="Personal" s class="nav-link ">
                                    <i class="fas fa-user-cog iconos"></i>
                                    <p class="text-white">
                                        Personal.
                                    </p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-basket iconos"></i>
                                    <p class="text-white">
                                        Entradas y salidas.
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="EntradasSalidas" asp-action="EntradasSalidas" class="nav-link">
                                            <i class="fas fa-circle  ml-2"></i>
                                            <p class="text-white">Entradas y salidas.</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Entradas" asp-action="Entradas" class="nav-link">
                                            <i class="fas fa-circle  ml-2"></i>
                                            <p class="text-white">Entradas.</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Salidas" asp-action="Salidas" class="nav-link">
                                            <i class="fas fa-circle  ml-2"></i>
                                            <p class="text-white">Salidas.</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>



                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
        </div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 27.4851%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div>
    </div>
    <!-- /.sidebar -->
</aside>