@model ComputerSena.Servicios.DTOS.LoginDTO
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font awesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Styles-->
    <link href="~/css/site.css" rel="stylesheet" />
    <!--Alertify-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Font awesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
</head>
<body class="bg-light">

    <div class="container">
        <div class="row">
            <div class="col-5 m-auto">
                <form class="p-3 bg-white rounded  mt-5 "  method="post">
                    <h3 class="text-dark text-center">Login</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <i class="fas fa-user"></i>
                        </div>
                        <input asp-for="Email" class="form-control" placeholder="Usuario">
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                        <input asp-for="Password" class="form-control" placeholder="Contraseña">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-info mt-3 position-relative">Iniciar Sesion</button>
                    </div>
                    <hr />
                    <p class="text-center">¿Olvidaste la Contraseña ? <a asp-action="OlvidePassword">Recuperar contraseña</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/StylesPlantilla/Js/jquery.overlayScrollbars.min.js"></script>
    <!--Alertify-->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!--Site js-->
    <script src="~/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>
</html>