@model ComputerSena.Models.Entidades.EntradaSalida
@{
    Layout = null;
}

<form method="POST" asp-action="CrearEntrada" class="bg-white rounded " onsubmit="return jQueryAjaxPost(this, 'Registrar entrada', '¿Deas registrar una entrada?')">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col">
            <input asp-for="Nombre" class="form-control" placeholder="Nombre Usuario">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Apellido" class="form-control" placeholder="Apellido Usuario">
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input asp-for="Documento" class="form-control" placeholder="Documento Usuario">
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input asp-for="Elemento" class="form-control" placeholder="Elemento">
            <span asp-validation-for="Elemento" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Color" class="form-control" placeholder="Color">
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <input asp-for="Serial" class="form-control" placeholder="serial">
            <span asp-validation-for="Serial" class="text-danger"></span>
        </div>
    </div>


    <input type="submit" class="btn btn-info" name="name" value="Agregar" />
</form>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}